body {
    font-size: 100%;
    line-height: 1.5em;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}